{%extends 'base.html'%}
{% load static %}
{% block content %}
    
<br>
  
    <div id="About-Us" style="background-color: #008CBA;">
      <h1 style="text-align: center; padding-top: 30px;">ABOUT US</h1>
      <br><br><br><br>
    </div>
    <div class="container">
      <div class="row ">
        <div class="col-12 col-sm-6 col-md-8">
          
          <div class="text">
            <h2>Who we are:</h2>
            <p>JQCS provides quality control inspections, factory audits, supplier evaluations, consumer product testing, production control and management, and quality control consulting throughout Somali Region.</p>
            <p>It has been said that trust is hard to earn and easy to lose. This has never been more true, than in today’s consumer goods market. When a consumer buys your product, a promise has been made in terms of form, function, and usability. Keeping that promise is the cornerstone to your success. With product recalls and compromised quality at historically high levels, JQCS can help you stand out from the crowd by making sure to keep that promise through our comprehensive quality control solutions. Recognized in the industry for our best in class training and robust ethical standards, JQCS quality assurance, testing, and inspection solutions deliver you the peace of mind and confidence that your products meet your exacting quality standards and align with customer expectations.</p>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <div class="who">
            
            <div class="overlay">
              <div class="text3"><strong>
                <h3>OUR CORE VALUE</h3>
                <p> Professionalism and Excellence:</p>
                <p>Accountability</p>
                <p>Respect</p>
                <p>Team Work</p>
                <p>Integrity</p>
                <p> Effective Communication</p>
                <p> Selflessness</p></strong>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br><br><br><br>
    

      <div class="row ">
        
        <div class="col-12 col-sm-6 col-md-8">
          <div class="text2">
            <h2>OUR VISION AND VALUES:</h2>
            <p>It is our mission to be the most competitive and trusted quality control provider in the world.

                Our core competencies in quality control inspections, factory audit and supplier evaluations, and consumer product testing are constantly being</p>
            <p>improved to ensure we provide the best-in-class services to you. Our passion to consistently deliver the highest in standards of service is what defines. Integrity, passion, and innovation are among the core values we continually strive for and which inform all aspects of our business.</p>
          </div>
        </div>
      

      <div class="col-6 col-md-4">
        <div class="goals">
          <div class="overlay">
            <div class="text1"><strong>
              <h3>OUR MISSION:</h3>
              <p>The Mission of the Quality Control Company is to facilitate trade of quality Agricultural Produce on both the domestic and international markets through the provision of World-Class Inspection Services.</p>
            </div>
          </div>
        </div>
      </div>
      </div>
    <br><br><br><br>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-8">
          <div class="text">
            <h2>DIVISION:</h2>
            <p>JQCS is made up of four business specific divisions and regions.</p>
            <p>Inspections – Quality Control Inspections, Testing, and Consulting company.</p>
            <p>Testing – Consumer products testing lab based in Jubaland. We perform chemical, functional, safety and packaging testing for consumer goods at our</p>
            <p>Sorting Inspections – Doing piece by piece sorting inspections, metal detection and repackaging for customers who manufacture high-end products that require zero defects. We operate our own facilities in Jubaland. We can also provide in factory services.</p>
            <p>JDomestic Market – exclusively focused on providing quality control services for Somali manufacturers, suppliers and buyers. We support the growing demand for quality products in the Somali market with the technical services to assist manufacturers in delivering quality procedures.</p>
          </div>
        </div>
        <div class="col-6 col-md-4">
          
            <div class="overlay">
              <div class="text1"><strong>
                <h3>OBJECTIVES:</h3>
                <p>Prevent the exportation of inferior or infested products to any destination in the world.</p>
                <p>Inspect, sample, grade, seal and disinfest produce for Licensed Buying Companies.</p>
                <p>Ensure that facilities of licensed buying companies conform to laid down regulations in order to maintain quality of produce in their custody.</p>
                <p>Monitor the operations of Licensed Buying Companies with regard to the safety of produce at all times.
                </p>
                <p>Undertake commercial disinfestations services.
                </p></strong>
              </div>
            </div>
          </div>
        </div>
  </div>

   

      
    


{%endblock%}
