{% block content %}
{% load bootstrap4 %}

<!-- Footer Starts -->
<footer class="main-footer">
    <!-- Footer Area Starts -->
        <div class="footer-area">
        <!-- Nested Container Starts -->
            <div class="container ">
                <div class="row">
                <!-- Contact Information Starts -->
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <h4 style="color: black;">Contact Information</h4>
                        <ul class="list-unstyled address-list">
                            <li class="clearfix address">
                                <i class="fa fa-home"></i>
                                Caymis road. <br> Kismayo, somalia
                            </li>
                            <li class="clearfix">
                                <i class="fa fa-fax"></i>
                                + 252616772852
                            </li>
                            <li class="clearfix">
                                <i class="fa fa-phone"></i>
                                + 252616772852
                            </li>
                            <li class="clearfix">
                                <i class="fa fa-envelope"></i>
                                <a href="mailto:info@jubalandquality.com"style="text-decoration: none; color: black;">info@jubalandqualiy.com </a>
                            </li>
                        </ul>
                    </div>
                <!-- Contact Information Ends -->
                <!-- Products Starts -->
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <h4 style="color: black;">Services</h4>
                        <ul class="list-unstyled">
                            <li><a href="creams+gels.html"style="text-decoration: none; color: black;" title="creams + gels"><i class="fa fa-angle-right"></i> quality service</a></li>
                            <li><a href="syrups.html" style="text-decoration: none; color: black;"title="syrups, suspensions, solutions"><i class="fa fa-angle-right"></i> management</a></li>
                            <li><a href="tablets.html"style="text-decoration: none; color: black;" title="tablets"><i class="fa fa-angle-right"></i> Testing</a></li>
                            <li><a href="vets.html" style="text-decoration: none; color: black;"title="veterinary"><i class="fa fa-angle-right"></i> National quality control</a></li>
                        </ul>
                    </div>
                <!-- Products Ends -->
                <!-- General Starts -->
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <h4 style="color: black;">General</h4>
                        <ul class="list-unstyled tweets-list">
                            <li><a href="about-us.html" style="text-decoration: none; color: black;" >About Us</a></li>
                            <li><a href="quality-assurance.html"style="text-decoration: none; color: black;">Quality Assurance</a></li>
                            <li><a href="contacts.html"style="text-decoration: none; color: black;">Contact Us</a></li>
                            <li>Sitemap</li>
                        </ul>
                    </div>
                <!-- Twitter Ends -->
                <!-- Signup Newsletter Starts -->
                    <div class="col-md-4 col-xs-12 newsletter-block">
                        <h4 style="color: black;">Signup Newsletter</h4>
                        <form action="#" class="newsletter">
                            <div class="form-group">
                                <input class="form-control" placeholder="Your Name" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Enter your Email Address" type="email">
                            </div>
                            <button type="submit" class="btn btn-lg btn-block btn-secondary">Submit</button>
                        </form>
                    </div>
                <!-- Signup Newsletter Ends -->
                </div>
            </div>
        <!-- Nested Container Ends -->
        </div>
    <!-- Footer Area Ends -->
    <!-- Copyright Starts -->
        <div class="copyright">
            <div class="container clearfix">
                <p class="pull-left">
                    © Copyright 2021. Jubaland quality service | Design By <span><a href="#" target="_blank" title="Dengates | ICT Business Solutions" style="text-decoration: none; color: black;">Eid</a></span>					</p>
                <ul class="list-unstyled list-inline pull-right">
                    <li><a href="#" style="text-decoration: none; color: black;">Terms Of Services</a></li>
                    <li><a href="#"style="text-decoration: none; color: black;">Privacy</a></li>
                </ul>
            </div>
        </div>
    <!-- Copyright Ends -->
    </footer>
<!-- Footer Ends -->
{%endblock%}